footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange); 
    padding: 20px 0;
    overflow: hidden; 
}

footer img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0; 
}

#footer_items {
    position: relative;
    z-index: 1; 
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    align-items: center;
    width: 100%;
}

#footer_items span,
#footer_items .social-media-buttons {
    color: var(--color-white);
    text-align: center;
}

#copyright {
    font-weight: 500;
    font-size: 14px;
}
.social-media-buttons:hover{
    transform: translateY(-10px);
    transition: 0.5s all;
    cursor: pointer;
}

.social-media-buttons a {
    margin: 0 10px;
    text-decoration: none;
}

.social-media-buttons i {
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-media-buttons i:hover {
    color: var(--color-black);
    transition: 0.5s all;
}

/* Responsividade */
@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}
