<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/stylectt.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="https://kit.fontawesome.com/aff47b1406.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>Classicos Gourmet</title>
</head>
<body>
    <section>
        <header>          
            <a href="#"><img src="../img/logo.png" alt="" class="logo"></a>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <nav class="navegation"  id="nav">
                <ul id="mobile-menucll">
                    <li><a href="/index.html">Inicio</a></li>
                    <li class="dropdown">
                        <a href="#">Produtos</a>
                        <ul class="dropdown-menu">
                            <li><a href="../html/produtos.html">Bolos de Pote</a></li>
                            <li><a href="../html/paodemel.html">Pães de Mel</a></li>
                        </ul>
                    </li>
                    <li><a href="../html/sobrenos.html">Sobre Nós</a></li>
                    <li><a href="../html/contato.html">Contato</a></li>
                </ul>
            </nav>
        </header>

 <div class="circle"></div>

    <div class="center"></div>

    <div class="contato" id="contato">
        <h2>Entre em Contato</h2>
        <br>
        <h3>Telefone:</h3>
        <p>(11) 994109433</p>
        <h3>Endereço:</h3>
    
    <a href="https://www.google.com.br/maps/place/R.+Abadie+Faria+Rosa,+405+-+Jardim+Angela,+S%C3%A3o+Paulo+-+SP,+04929-320/@-23.7016645,-46.7731009,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce5272415571c1:0x1ba5bc2d03780e45!8m2!3d-23.7016645!4d-46.770526!16s%2Fg%2F11c26pg9vh?entry=ttu&g_ep=EgoyMDI0MTExOS4yIKXMDSoASAFQAw%3D%3D"><p>Ver no mapa</p></a>
    
<h3>E-Mail</h3>
    <p>contato@classicosgourmet.com.br</p>  
    </div>

    <div class="assunto">
        <h1>Contato</h1>
    <form id="formSugestao">
        <input type="text" placeholder="Nome">
        <input type="email" placeholder="E-mail">
        <input type="number" placeholder="Numero de Telefone">

        <div class="caixa-sugestao">
                <textarea id="sugestao" placeholder="Mensagem" required></textarea>
                <p class="alerta" id="mensagemAlerta">Por favor, insira o assunto antes de enviar.</p>
        </div>
        <input type="submit" value="Enviar" class="button">
    </form>
</div>
</div>
</section>

<footer>
    <img src="../img/wave (1).svg" alt="">

    <div id="footer_items">
        <span id="copyright">
            &copy 2024 Classicos Gourmet
        </span>

        <div class="social-media-buttons">

            <a href="HTTPS://wa.me/551199410-9433">
                <i class="fa-brands fa-whatsapp" style="color: #fff;"></i>
            </a>
        
            <a href="https://www.instagram.com/classicos__gourmet/profilecard/?igsh=amlteW1zYm50Y3U2">
            <i class="fa-brands fa-instagram" style="color: #fff;"></i>
            </a>
    </div>
    </div>
    <script src="../js/scriptctt.js"></script>
<script src="../js/scriptctt2.js"></script>
<script src="../js/script.js"></script>
</footer>
</body>
</html>
