<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/styleprodutos.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>Classicos Gourmet</title>
</head>
<body>
    <section> 
      <header>          
        <a href="#"><img src="../img/logo.png" alt="" class="logo"></a>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <nav class="navegation"  id="nav">
            <ul id="mobile-menucll">
                <li><a href="/index.html">Inicio</a></li>
                <li class="dropdown">
                    <a href="#">Produtos</a>
                    <ul class="dropdown-menu">
                        <li><a href="../html/produtos.html">Bolos de Pote</a></li>
                        <li><a href="../html/paodemel.html">Pães de Mel</a></li>
                    </ul>
                </li>
                <li><a href="../html/sobrenos.html">Sobre Nós</a></li>
                <li><a href="../html/contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

      <section class="produtos">
        <div class="container-cards">
          <div class="card">
            <img src="../img/bolodepotedocedeleite.png">
            <div>
              <h2>Doce de Leite</h2>
              <a href="HTTPS://wa.me/5511994109433?text=Olá+Luiz+Carlos,+tudo+bem?+Quanto+está+o+bolo+de+pote+de+Doce+de+Leite?+"><button>Eu Quero</button></a>
            </div>
          </div>
          <div class="card">
            <img src="../img/bolodepoteninho.png">
            <div>
              <h2>Ninho</h2>
              <a href="HTTPS://wa.me/5511994109433?text=Olá+Luiz+Carlos,+tudo+bem?+Quanto+está+o+bolo+de+pote+de+Ninho?+"><button>Eu Quero</button></a>
            </div>
          </div>
        </div>
        <div class="container-cards">
          <div class="card">
            <img src="../img/bolodepotebrigadeiro.png">
            <div>
              <h2>Brigadeiro</h2>
              <a href="HTTPS://wa.me/5511994109433?text=Olá+Luiz+Carlos,+tudo+bem?+Quanto+está+o+bolo+de+pote+de+Brigadeiro+"><button>Eu Quero</button></a>
            </div>
          </div>
          <div class="card">
            <img src="../img/bolodepoteprestigio.png">
            <div>
              <h2>Prestigio</h2>
              <a href="HTTPS://wa.me/5511994109433?text=Olá+Luiz+Carlos,+tudo+bem?+Quanto+está+o+bolo+de+pote+de+Prestígio?+"><button>Eu Quero</button></a>
            </div>
          </div>
        </div>
    </section>
      <section class="produtos">
        <div class="container-cards">
          <div class="card">
            <img src="../img/bolodepotemaracuja.png">
            <div>
              <h2>Maracujá</h2>
              <a href="HTTPS://wa.me/5511994109433?text=Olá+Luiz+Carlos,+tudo+bem?+Quanto+está+o+bolo+de+pote+de+Maracujá?+"><button>Eu Quero</button></a>
            </div>
          </div>
          <div class="card">
            <img src="../img/bolodepotemorango.png">
            <div>
              <h2>Morango</h2>
              <a href="HTTPS://wa.me/5511994109433?text=Olá+Luiz+Carlos,+tudo+bem?+Quanto+está+o+bolo+de+pote+de+Morango?+"><button>Eu Quero</button></a>
            </div>
          </div>
        </div>
        <div class="container-cards">
          <div class="card">
            <img src="../img/bolodepotecappucino.png">
            <div>
              <h2>Capuccino</h2>
              <a href="HTTPS://wa.me/5511994109433?text=Olá+Luiz+Carlos,+tudo+bem?+Quanto+está+o+bolo+de+pote+de+Capuccino+"><button>Eu Quero</button></a>
            </div>
          </div>
          <div class="card">
            <img src="../img/bolodepotenihtoemorango.png">
            <div>
              <h2>Ninho com Morango</h2>
              <a href="HTTPS://wa.me/5511994109433?text=Olá+Luiz+Carlos,+tudo+bem?+Quanto+está+o+bolo+de+pote+de+Ninho+com+Morango?+"><button>Eu Quero</button></a>
            </div>
          </div>
        </div>
    </section>
    <script src="../js/script.js"></script>
</body>
</html>
