<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/headerctt.css">
    <link rel="stylesheet" href="../styles/sobrenos.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>Classicos Gourmet</title>
</head>
<body>
    <section>
        <header>          
            <a href="#"><img src="../img/logo.png" alt="" class="logo"></a>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <nav class="navegation"  id="nav">
                <ul id="mobile-menucll">
                    <li><a href="/index.html">Inicio</a></li>
                    <li class="dropdown">
                        <a href="#">Produtos</a>
                        <ul class="dropdown-menu">
                            <li><a href="../html/produtos.html">Bolos de Pote</a></li>
                            <li><a href="../html/paodemel.html">Pães de Mel</a></li>
                        </ul>
                    </li>
                    <li><a href="../html/sobrenos.html">Sobre Nós</a></li>
                    <li><a href="../html/contato.html">Contato</a></li>
                </ul>
            </nav>
        </header>
        
    </section>
        <section>
            <main>
                <div class="container-sobre">
                    <div class="title fade-in" id="title">
                        <h1>Trajetória Classicos Gourmet</h1>
                    </div>
    
                    <section class="linhaDoTempo">
                        <div class="linhaDoTempoImagem fade-in" id="image1">
                            <img src="../img/Luizcarlos1.jpg" alt="" class="paodemel">
                        </div>
                        <div class="borda-sobre fade-in" id="text1">
                            <p>Luiz Carlos, de 41 anos, sempre foi uma pessoa resiliente e apaixonada por criar. Sua trajetória não foi fácil, marcada por desafios desde a infância. Quando tinha apenas 2 anos, seu pai abandonou a família, e desde então, Luiz cresceu aprendendo a se virar sozinho. Aos 12 anos, já trabalhava para ajudar em casa e comprar suas próprias coisas, mostrando determinação desde cedo.</p>
                        </div>
                    </section>
    
                    <section class="linhaDoTempo">
                        <div class="linhaDoTempoImagem fade-in" id="image2">
                            <p>Mais tarde, Luiz começou a trabalhar em restaurantes como auxiliar de cozinha, e foi nesse ambiente que conheceu Débora, sua futura esposa. Débora também era cozinheira, e Luiz começou a criar pratos diferentes para impressioná-la. Seu apoio e incentivo fizeram com que Luiz mergulhasse ainda mais no mundo da gastronomia.</p>  
                        </div>
                        <div class="borda-sobre fade-in" id="text2">
                            <img src="../img/Luizcarlos2.jpg" alt="" class="paodemel">
                        </div>
                    </section>
    
                    <section class="linhaDoTempo">
                        <div class="linhaDoTempoImagem fade-in" id="image3">
                            <img src="../img/Luizcarlos3.jpg" alt="" class="paodemel">
                        </div>
                        <div class="borda-sobre fade-in" id="text3">
                            <p>O casal teve uma filha, que se tornou uma peça fundamental em suas vidas e no negócio que construíram. A jovem está sempre envolvida, ajudando nas vendas e na divulgação, compartilhando da paixão da família pela cozinha. No final de 2021, em um momento de dificuldades após a pandemia, Luiz decidiu começar a vender pães de mel como forma de sustento. O que começou como uma necessidade logo se transformou em algo maior. </p>
                        </div>
                    </section>
    
                    <section class="linhaDoTempo">
                        <div class="linhaDoTempoImagem fade-in" id="image4">
                            <p>Foi então que nasceu o Clássicos Gourmet, uma microempresa focada em releituras sofisticadas de receitas clássicas. Hoje, Luiz, além de ser o criador do Clássicos Gourmet, trabalha como chef de cozinha e sushi man em um restaurante no Morumbi. Ao lado de Débora e de sua filha, ele transforma ingredientes simples em experiências gastronômicas únicas. O Clássicos Gourmet é mais do que um negócio: é o reflexo de sua história, marcada pela superação, pela paixão e pelo amor pela gastronomia.</p>                        
                        </div>
                        <div class="borda-sobre fade-in" id="text4">
                            <img src="../img/Luizcarlos4.jpg" alt="" class="paodemel">
                        </div>
                    </section>
                </div>
            </main>
        </section>
        
        <script src="../js/scriptsobrenós.js"></script>
        <script src="../js/script.js"></script>
</body>
</html>
